$hue-0: 225;
$hue-1: 85;

$color-palette: (
  neutral: (
    100: hsb($hue-0, 00, 95),
    500: hsb($hue-0, 12, 43),
  ),
  primary: (
    300: hsb($hue-1, 010, 095),
    500: hsb($hue-1, 085, 055),
    700: hsb($hue-1, 080, 035)
  )
);

// Interactive
$c-link:         chroma(1, 500);
$c-visited:      $c-link;

$c-hover:        chroma(1, 700);
$c-active:       $c-hover;

$c-select__bg:   chroma(1, 300);
$c-select__text: chroma(1, 500);
