// Families.
$font__sans: "Helvetica", sans-serif;
$font__serif: "Georgia", serif;
$font__mono: monospace;

// Weights.
$font__sans--regular: normal;
$font__sans--bold: bold;

$font__serif--regular: normal;
$font__serif--bold: bold;

// Defaults.
$default__size: $base-1;
$default__family: $font__sans;
$default__weight: $font__sans--regular;
$default__leading: $spacing--b;
