// Families.
$font__sans: "Helvetica", sans-serif;

// Weights.
$font__sans--regular: normal;
$font__sans--bold: bold;

// Defaults.
$default__size: $base-1;
$default__family: $font__sans;
$default__weight: $font__sans--regular;
$default__leading: $leading--b;
