// Bases
$base-1: 16;

// Multipliers
// https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_modular-scale.scss
$multi-1: $minor-sixth;

// Scales
$scales: (
  1: (
    xl: 60,
    l:  40,
    m:  round(modular-scale(+1, $base-1, $multi-1)),
    b:  $base-1,
    s:  round(modular-scale(-1, $base-1, $multi-1)),
  ),
  2: (
    m: 24,
    b: 20
  )
);
