// Tracking
$tracking--b: .125em;

// Leading
$leading--b: 1.5;

// Widths
$width-group: (
  l: 800
);

// Heights
$height-group: (
  b: round(modular-scale(1, $base-1 * $leading--b, $multi-1))
);

// Thickness
$stroke--b: 2px;
$stroke--s: 1px;

// Radius
$radius--b: 2px;

// Z-index
$index--b:  100;
