extends _shared

append template-head
  <!-- build:css assets/css/style-min.css -->
  <!-- site:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js assets/js/vendor-min.js -->
  <!-- vendor:js -->
  <!-- endinject -->
  <!-- endbuild -->

block template-body
  include /../bower_components/chj-framework/app/assets/pug/mixins/_dummy

block template-content
  p Basic template.

append template-foot
  <!-- build:js assets/js/site-min.js -->
  <!-- site:js -->
  <!-- endinject -->
  <!-- endbuild -->
